ul.dropmenu {
	float: left;
	margin: 0px; 
	padding: 0px;
	display:block;
	height:auto;
	margin-left:5px;
	width:217px;
}

.dropmenu li a, .dropmenu li{
	display: block;
}

.dropmenu li a:hover, .dropmenu li.open > a{
	color: #fe4202;
}

.dropmenu li{
	list-style: none;
	position: relative;	
	background: url(../img/bottom_list.png) bottom left repeat-x;
}

.dropmenu li span{
	display:block;
	float:right;
	height:10px;
	position:absolute;
	right:10px;
	top:13px;
	width:10px;
}

.dropmenu > li > a{
	color: #38322D;
	display:block;
	padding:7px 37px 7px 20px;
	text-decoration:none;
	background: url(../img/tree_right.png) left center no-repeat;
}

.dropmenu li a{
	color: #38322D;
	display:block;
	padding:7px 37px 7px 20px;
	text-decoration:none;
	width: 160px;
}

/* Submenu */
.dropmenu li ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 100%;
	top: -1%;
	padding: 0px;
	margin: 0px;
	border:1px solid #a5a5a3;
	z-index:99999;
}

.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div{
	display: block;
}
/* .dropmenu .open > ul, .dropmenu .open > div{ */
/* 	display: none !important; */
/* } */

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #fff;
	text-transform: none;
}
.dropmenu img{
	float:right;
	margin-right:-20px;
}
.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 200px;
}

.dropmenu li ul li a{
	background-color:#fff;
	color:#000;
	display:block;
	padding:8px 30px 8px 15px;
	text-decoration:none;
	border-bottom:1px solid gray;
}

.dropmenu li ul li a:hover{
	background-color: #fff;
	color: #fe4202;
}
